.custom-field {
    width: 50%;
  }
  .table-vertical-align {
    vertical-align: middle;
  }
  .disabled {
    cursor: not-allowed;
  }

  .todo-completed-container {
    display: flex;
    align-items: center;
  }
  
  .todo-completed-container label {
    margin-right: 5px;
  }

  .submit-button {
    margin-left: 400px; 
  }

  .search-bar {
     padding-top: 20px;
  }